<!--------------Template driven form -------------->

<!--<app-ex1></app-ex1>-->

<!--<app-ex2></app-ex2>-->

<!--<app-ex3></app-ex3>-->

<!--<app-validation></app-validation>-->


<!--------------Reactive form -------------->

<!--<app-rf-ex1></app-rf-ex1>-->

<!--<app-rf-ex2></app-rf-ex2>-->
<!--<app-rf-ex3></app-rf-ex3>-->
<!--<app-rf-ex4></app-rf-ex4>-->
<!--<app-rf-ex5></app-rf-ex5>-->
<!--<app-rf-ex6></app-rf-ex6>-->

<!--<app-rf-ex7></app-rf-ex7>-->

<!--<app-dynamiclyvalidation></app-dynamiclyvalidation>-->
